<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64061291637-466k4vnmcb1779sq24o9jked4lalisfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64061291637-466k4vnmcb1779sq24o9jked4lalisfo</string>
	<key>API_KEY</key>
	<string>AIzaSyDwut2kG6bhh32U38qpVurh9xR-lZjx1UY</string>
	<key>GCM_SENDER_ID</key>
	<string>64061291637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.withapp.ios</string>
	<key>PROJECT_ID</key>
	<string>with-flutter-app-ae099</string>
	<key>STORAGE_BUCKET</key>
	<string>with-flutter-app-ae099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64061291637:ios:1b9a510eeb6df6b2168c3c</string>
	<key>DATABASE_URL</key>
	<string>https://with-flutter-app-ae099.firebaseio.com</string>
</dict>
</plist>